.home-container {
   background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  /* flex-direction: row;
   */
  /* justify-content: space-evenly; */
  /* padding-bottom: 2rem; */
}

.home-container a {
   background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.home-container a:hover {
 background: rgba(255, 255, 255, 0.2);
}